@import "variables.scss";
@import "base.scss";

@media screen and (min-width: 1280px) {
    header {
        position: sticky;
        top: 0;
    }

    main {
        #top-text::after {
            content: " 5 ";
            font-size: 140%;
            font-weight: bold;
        }

        .first, 
        .second {
            flex-wrap: wrap;
        }
    }
}

@media screen and (max-width: 1280px) {
    header {
        position: sticky;
        top: 0;

        .platform-title {
            display: none;
        }
    }

    main {
        #top-text::after {
            content: " 3 ";
            font-size: 140%;
            font-weight: bold;
        }

        .top {
            min-width: 300%;
        }
        .first, 
        .second {
            flex-wrap: wrap;
        }

        .item {
            pointer-events: none;
        }
    }
}