$base: red;
$base2: blue;
$base3: green;
$text-color: Silver;

body div {
    display: flex;
    justify-content: space-evenly;
    color: $text-color;
    padding: 3% 0.5% 3%;
    border-radius: 10%;
    flex: auto;
    gap: 1%;
}

.container-1 {
        .darken-4 {
            background-color: darken($base, 15%);
        }
        .darken-3 {
            background-color: darken($base, 12%);
        }
        .darken-2 {
            background-color: darken($base, 8%);
        }
        .darken-1 {
            background-color: darken($base, 5%);
        }
        .lighten-1 {
            background-color: lighten($base, 10%);
        }
        .lighten-2 {
            background-color: lighten($base, 15%);
        }
        .lighten-3 {
            background-color: lighten($base, 20%);
        }
        .lighten-4 {
            background-color: lighten($base, 30%);
        }
        .base-color {
            background-color: $base;
            color: white;
        }
}

.container-2 {
    .darken-4 {
        background-color: darken($base2, 15%);
    }
    .darken-3 {
        background-color: darken($base2, 12%);
    }
    .darken-2 {
        background-color: darken($base2, 8%);
    }
    .darken-1 {
        background-color: darken($base2, 5%);
    }
    .lighten-1 {
        background-color: lighten($base2, 10%);
    }
    .lighten-2 {
        background-color: lighten($base2, 15%);
    }
    .lighten-3 {
        background-color: lighten($base2, 20%);
    }
    .lighten-4 {
        background-color: lighten($base2, 30%);
    }
    .base-color {
        background-color: $base2;
        color: white;
    }
}

.container-3 {
    .darken-4 {
        background-color: darken($base3, 15%);
    }
    .darken-3 {
        background-color: darken($base3, 12%);
    }
    .darken-2 {
        background-color: darken($base3, 8%);
    }
    .darken-1 {
        background-color: darken($base3, 5%);
    }
    .lighten-1 {
        background-color: lighten($base3, 10%);
    }
    .lighten-2 {
        background-color: lighten($base3, 20%);
    }
    .lighten-3 {
        background-color: lighten($base3, 40%);
    }
    .lighten-4 {
        background-color: lighten($base3, 50%);
    }
    .base-color {
        background-color: $base3;
        color: white;
    }
}