body {
    background-color: sandybrown;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center-container {
    position: relative;
    background-color: whitesmoke;
    border: 2px solid chocolate;
    border-radius: 3px;
    height: 96vh;
    width: 90vw;
    inset: 2vh 5vw 2vh 5vw;
}

.grid-container {
    display: grid;
    grid-template-rows: 4fr 2fr 3fr 0.5fr 2fr;
    grid-template-columns: 1fr 1fr 3fr;
        grid-row-gap: 15px;
}

.header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.header img {
    width: 90vw;
}

.title {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    margin: 2% 8%;
    font-size: 24px;

    display: grid;
    align-content: center;
}

.main-content {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    margin: 2% 8%;
    line-height: 2;
    font-size: 18px;
    display: grid;
    align-content: center;
}

.extra-content {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.extra-content .published {
    font-weight: bold;
}

.extra-content .date {
    color: yellowgreen;
}

.footer {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    cursor: pointer;
    font-size: 20px;
    margin: 6% 8%;
    background-color: yellowgreen;
    color: whitesmoke;

    display: grid;
    justify-content: center;
    align-content: center;
}